body {
  margin: 0;
  padding: 0;

}

h1 {
  text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

th {
  padding: 5px;
}

select {
  background-color: #eeeeee;
  height: 22px;
  width: 25vw;
  padding: 2px;
  margin: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
  border-radius: 5px;
  -webkit-appearance: menulist;
box-sizing: border-box;
align-items: center;
white-space: pre;
-webkit-rtl-ordering: logical;
color: black;
}
